.la-car-advertisement-btn {
    display: block;
    position: absolute;
    background-image: url("../../ui-elements/button/ui-btn-small.png");
    background-size: 45px;
    background-repeat: no-repeat;
    font-weight: bold;
    left: 10%;
}

.la-car-advertisement-btn a{
    margin-left: 15px;
    color: #7143C6;
}

.la-car-advertisement-btn span{
    padding-left: 20px;
}

.custom-button-span {
   color: #FFF;
   font-weight: bold;
}
