.mt-5 {
  text-align: center;
  margin: auto;
  color: #FFF;
}

.reservation-nav-link {
   color: #FFF;
   font-size: 0.8rem;
}

.reservation-nav-link:hover {
   color: #FFF;
   font-weight: bold;
   font-size: 0.8rem;
}
