.custom-caption-card-right {
  width: 18rem;
  background: none;
  color: #000;
  border: none;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%; -50%)
}

.custom-caption-card-left {
  width: 18rem;
  background: none;
  color: #000;
  border: none;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%; -50%)
}

.custom-carousel-caption {
  position: absolute;
  top: 0;
  right: 10%;
  padding: 0;
}

.custom-carousel-caption-image {
  height: 130%;
  width: 120%;
}

.custom-carousel-caption-icon {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%; -50%);
  font-size: 1rem;
  color: #FFF;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.custom-carousel-caption-nav {
  font-size: 1rem;
  color: #FFF;
  font-weight: bold;
}

.custom-carousel-caption-span {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%; -50%);
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.custom-carousel-caption-text {
   position: relative;
}

.custom-carousel-caption-title {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
}
