.la-article-item-left {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.la-article-item-right {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.la-image {
    width: 100%;
    height: 100%;
}

.la-article-btn {
    display: block;
    position: absolute;
    background-image: url("../../ui-elements/button/la-article-btn.png");
    background-position-x: right;
    background-size: 300px;
    background-repeat: no-repeat;
    width: 100%;
    bottom: 5%;
    text-align: -webkit-right;
    height: 60px;
}

.la-article-item-left h4{
    position: absolute;
    left: 30%;
    font-style: oblique;
    padding: 15px 40px 0 0;
}

.la-article-item-left p {
    position: absolute;
    padding: 10px 40px 10px 50%;
    top: 20%;
    text-align: right;
}

.la-article-item-right h4{
    position: absolute;
    right: 40%;
    font-style: oblique;
    padding: 15px 0 0 40px;
}

.la-article-item-right p {
    position: absolute;
    padding: 10px 50% 10px 40px;
    top: 20%;
    text-align: left;
}

.la-article-btn a {
    margin-right: 75px;
    vertical-align: -webkit-baseline-middle;
    top: 10px;
    padding: 3px 15px 3px 0px;
    color: white;
}