.la-search {
    margin: 20px 0 20px 0;
}

.la-search-text {
    padding: 5px 5px 5px 40px;
}

.la-search-icon {
    width: 30px !important;
    height: 30px !important;
    margin: 4px;
    opacity: 0.6;
}

.la-search-input {
    background-color: transparent;
    border: 0px solid;
}

.la-search-input:focus {
    outline: none;
}

.la-search-btn {
    display: block;
    position: relative;
    background-image: url("../../ui-elements/button/la-search-btn.png");
    background-repeat: no-repeat;
    padding: 14px 0 5px 0;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
}

.la-search-small-icon {
    padding: 5px;
    display: block;
    position: absolute;
    background-image: url("../../ui-elements/button/›.png");
    background-repeat: no-repeat;
    top: 18px;
    left: 40px;
    width: 9px;
    height: 15px;
}

.la-search-btn a {
    color: white;
    padding-left: 40px;
}