.la-home-action {
    background-color: #8d8d8d;
    padding-top: 25px;
    padding-bottom: 5px;
}

.la-home-action-btn {
    display: block;
    background-image: url("../../ui-elements/button/la-action-btn.png");
    background-repeat: no-repeat;
    width: 165px;
    height: 45px;
    position: relative;
    bottom: 5px;
}

.la-home-small-btn-icon {
    display: block;
    position: absolute;
    background-image: url("../../ui-elements/button/›.png");
    background-repeat: no-repeat;
    width: 9px;
    height: 15px;
    top: 7px;
    left: 45px;
}

.la-home-action-btn a {
    color: white;
    position: relative;
    top: 7px;
    left: 55px;
}

.la-home-action-text {
    color: white;
    padding-left: 100px;
}