.navigation-row {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 5px 25px;
  height: 80px;
  /*border-bottom: 1px solid #FFF;*/
}

.navigation-logo {
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

.navigation-menu {
     padding-top: 0rem;
     padding-right: 0rem;
     margin-right: 0.5rem !important
}

.navigation-first-nav {
  position: relative;
  text-align: center;
  left: 97%;
}

.navigation-second-nav {
  position: relative;
  text-align: center;
  left: 95%;
  z-index: 1;
  cursor: pointer;
}

.navigation-nav-link {
  font-size: 0.7rem;
  color: #FFF;
}

.navigation-nav-link:hover {
  font-size: 0.7rem;
  color: #FFF;
  font-weight: bold;
}

.navigation-icon {
  position: relative;
  left: 75%;
  color: #4B4B4B;
  padding-top: 3%;
}

.navigation-icon:first-child {
     padding-right: 7.5%;
}

.navigation-span {
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%; -50%);
}

a.carousel-control-prev {
   color: #7143C6 !important;
}
